@import "tailwindcss";

@theme inline {
  --color-background: #fdf3f4;
  --color-rose-50: #fdf3f4;
  --color-rose-100: #fbe8ea;
  --color-rose-200: #f6d0d6;
  --color-rose-300: #f0b1bb;
  --color-rose-400: #e78596;
  --color-rose-500: #d95a74;
  --color-rose-600: #c43a5d;
  --color-rose-700: #a52b4d;
  --color-rose-800: #8a2746;
  --color-rose-900: #772441;
  --color-rose-950: #420f20;
}

/* Minimalist Gradient Scrollbar */
::-webkit-scrollbar {
  width: 4px; /* Adjust width as needed */
  height: 4px; /* For horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: transparent; /* Light background for minimalist feel */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    var(--color-rose-200),
    var(--color-rose-700)
  ); /* Gradient */
  border-radius: 10px;
}

/* For Firefox (partial support, thumb color only) */
* {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: var(--color-rose-400) var(--color-rose-50); /* thumb and track color */
}
