@import "tailwindcss";

@theme inline {
  --color-background: #fdf3f4;
  --color-rose-50: #fdf3f4;
  --color-rose-100: #fbe8ea;
  --color-rose-200: #f6d0d6;
  --color-rose-300: #f0b1bb;
  --color-rose-400: #e78596;
  --color-rose-500: #d95a74;
  --color-rose-600: #c43a5d;
  --color-rose-700: #a52b4d;
  --color-rose-800: #8a2746;
  --color-rose-900: #772441;
  --color-rose-950: #420f20;
}
